pydata-sphinx-theme # https://pypi.org/project/pydata-sphinx-theme/
sphinx # https://pypi.org/project/Sphinx/
sphinx-design  # https://pypi.org/project/sphinx_design/
myst-parser  # https://pypi.org/project/myst-parser/ 