name: build-deploy-site

# Only run this when the master branch changes
on:
  push:
    branches:
    - main
    paths:
      site/**
  # this line allows us to run the action from the GH website:
  workflow_dispatch:


# This job installs dependencies, build the book, and pushes it to `gh-pages`
jobs:
  deploy-book:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    # Install dependencies
    - name: Set up Python 3.10
      uses: actions/setup-python@v1
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        pip install -r requirements.txt
    # Build the book
    - name: Build the site
      run: |
        sphinx-build site site/_build/html
        cp CNAME site/_build/html
     
    # Push the book's HTML to github-pages
    - name: GitHub Pages action
      uses: peaceiris/actions-gh-pages@v3.5.9
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: site/_build/html
